In [2]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

In [3]:
a='Abhishek Veram'
b=[1,2,45.56,"Abhishek",True]
c=45.67
d=(1,2,45.67,'Abhishek')

In [4]:
type(a)

str

In [5]:
type(b)

list

In [6]:
type(c)

float

In [7]:
type(d)

tuple

In [8]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.

In [12]:
var1 = ''#String
var2 = '[ DS , ML , Python]'#string
var3 = [ 'DS' , 'ML' , 'Python' ]#list
var4 = 1#integer

In [13]:
type(var1)

str

In [14]:
type(var2)

str

In [15]:
type(var3)

list

In [16]:
type(var4)

int

In [17]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

In [18]:
4/2#Division Optr,Return result as a floating Value

2.0

In [19]:
7%3 #Modulus optr,Return Remainder

1

In [20]:
7//3#Floor Division,Return the result as largest whole number <= result

2

In [21]:
2**3#Exponentiation .Raise to the power of a number

8

In [22]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [41]:
mixed_list = [4, 3.14, "Python", True, None, [1, 2, 3], (4, 5), {'key': 'value'}, {9, 8}, 'Abhishek']

for element in mixed_list:
    print(f"Element: {element}, Type: {type(element)}")

Element: 4, Type: <class 'int'>
Element: 3.14, Type: <class 'float'>
Element: Python, Type: <class 'str'>
Element: True, Type: <class 'bool'>
Element: None, Type: <class 'NoneType'>
Element: [1, 2, 3], Type: <class 'list'>
Element: (4, 5), Type: <class 'tuple'>
Element: {'key': 'value'}, Type: <class 'dict'>
Element: {8, 9}, Type: <class 'set'>
Element: Abhishek, Type: <class 'str'>

In [42]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [43]:
A = 48 
B = 3   

count = 0

while A % B == 0:
    A = A // B  
    count += 1  

count#output = 1

1

In [44]:
int_list = [i for i in range(1, 26)] 

results = []
for number in int_list:
    if number % 3 == 0:
        results.append(f"{number} is divisible by 3")
    else:
        results.append(f"{number} is not divisible by 3")

for result in results:
    print(result)

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [45]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [46]:
#Mutable date type is those whose (on index)values can be Changed...eg-List,set.
#Immutable data type is those whose (on index)values cannot be changed after they are created.eg-tuples

In [47]:
# Mutable Example
mutable_list = [1, 2, 3]
print("Original List:", mutable_list)

mutable_list.append(4)  # Adding an element
print("Modified List:", mutable_list)

# Output:
# Original List: [1, 2, 3]
# Modified List: [1, 2, 3, 4]

Original List: [1, 2, 3]
Modified List: [1, 2, 3, 4]

In [48]:
# Immutable Example
immutable_string = "Python"
print("Original String:", immutable_string)

try:
    immutable_string[0] = "J"  
except TypeError as e:
    print("Error:", e)

new_string = "Jython"
print("New String:", new_string)

# Output:
# Original String: Python
# Error: 'str' object does not support item assignment
# New String: Jython

Original String: Python
Error: 'str' object does not support item assignment
New String: Jython